HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/api-gateway/src/main/resources/api-gateway-secret.properties
/front-gateway/src/main/resources/front-gateway-secret.properties
/push-service/src/main/resources/firebase-service-account.json
/push-service/src/main/resources/push-service-secret.properties
/upload-service/src/main/resources/firebase-service-account.json
/upload-service/src/main/resources/upload-service-secret.properties
